<form>
<div>
<%= form_with(model: binnacle, local: true) do |form| %>
  <% if binnacle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(binnacle.errors.count, "error") %> prohibited this binnacle from being saved:</h2>

      <ul>
      <% binnacle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





<div class="box box-danger">
                                <div class="box-header">
                                </div>
                                <div class="box-body">


    <%= form.hidden_field :user_id, id: :binnacle_user_id, value: current_user.id %>
    <%= form.hidden_field :farming_id, id: :binnacle_farming_id, value: current_user.cultivo %>


  <div class="row" >

    <div class="col-md-8">
      <label>Fecha</label>
       <%= form.text_field :fecha, id: :binnacle_fecha, class: "form-control"%>
      </div>
  </div>

<div class="row" >

    <div class="col-md-8">
      <label>Temperatura</label>
       <%= form.text_field :temperatura, id: :binnacle_temperatura, class: "form-control"%>
      </div>
</div>

<div class="row" >

    <div class="col-md-8">
      <label>Número de Riegos</label>
        <%= form.text_field :nroriegos, id: :binnacle_nroriegos, class: "form-control"%>
      </div>
</div>

<div class="row" >

    <div class="col-md-8">
      <label>Observaciones</label>
        <%= form.text_area :observaciones, id: :binnacle_observaciones, class: "form-control"%>
      </div>
</div>

<div class="row" >

    <div class="col-md-8">
      <label>Foto 1</label>
        <%= form.text_field :foto1, id: :binnacle_foto1, class: "form-control"%>
      </div>
</div>

<div class="row" >

    <div class="col-md-8">
      <label>Foto 2</label>
        <%= form.text_field :foto2, id: :binnacle_foto2, class: "form-control"%>
      </div>
</div>

<div class="row" >

    <div class="col-md-8">
      <label>Foto 3</label>
        <%= form.text_field :foto3, id: :binnacle_foto3,  class: "form-control"%>
      </div>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
</div><!-- /.form group -->
</div>
</form>
