<p id="notice"><%= notice %></p>

<h1>Binnacles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Farming</th>
      <th>Fecha</th>
      <th>Temperatura</th>
      <th>Nroriegos</th>
      <th>Observaciones</th>
      <th>Foto1</th>
      <th>Foto2</th>
      <th>Foto3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @binnacles.each do |binnacle| %>
      <tr>
        <td><%= binnacle.user %></td>
        <td><%= binnacle.farming %></td>
        <td><%= binnacle.fecha %></td>
        <td><%= binnacle.temperatura %></td>
        <td><%= binnacle.nroriegos %></td>
        <td><%= binnacle.observaciones %></td>
        <td><%= binnacle.foto1 %></td>
        <td><%= binnacle.foto2 %></td>
        <td><%= binnacle.foto3 %></td>
        <td><%= link_to 'Show', binnacle %></td>
        <td><%= link_to 'Edit', edit_binnacle_path(binnacle) %></td>
        <td><%= link_to 'Destroy', binnacle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Binnacle', new_binnacle_path %>
