<p id="notice"><%= notice %></p>

<h1>Bienvenidos a su Bitacora</h1>
<%= link_to 'Nueva Bitacora', new_binnacle_path, class:"btn btn-primary" %><br>

                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Tabla de Datos con el Registro de su Actividad</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Cultivo</th>
                                                <th>Fecha</th>
                                                <th>Temperatura</th>
                                                <th>Número de Riegos</th>
                                                <th>Foto 1</th>
                                                <th>Foto 2</th>
                                                <th>Foto 3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% @binnacles.each do |bs| %>
                                            <tr>
                                                <th><%= bs.farming.semilla %></th>
                                                <th><%= bs.fecha %></th>
                                                <th><%= bs.temperatura %></th>
                                                <th><%= bs.nroriegos %></th>
                                                <th><img src="<%= bs.foto1 %>" style="width:80px" alt=""></th>
                                                <th><img src="<%= bs.foto2 %>" style="width:80px" alt=""></th>
                                                <th><img src="<%= bs.foto3 %>" style="width:80px" alt=""></th>
                                            </tr>
                                          <%end%>

                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
<br>

<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
