<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @binnacle.user %>
</p>

<p>
  <strong>Farming:</strong>
  <%= @binnacle.farming %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @binnacle.fecha %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @binnacle.temperatura %>
</p>

<p>
  <strong>Nroriegos:</strong>
  <%= @binnacle.nroriegos %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @binnacle.observaciones %>
</p>

<p>
  <strong>Foto1:</strong>
  <%= @binnacle.foto1 %>
</p>

<p>
  <strong>Foto2:</strong>
  <%= @binnacle.foto2 %>
</p>

<p>
  <strong>Foto3:</strong>
  <%= @binnacle.foto3 %>
</p>

<%= link_to 'Edit', edit_binnacle_path(@binnacle) %> |
<%= link_to 'Back', binnacles_path %>
