<p id="notice"><%= notice %></p>

<h1>Farmings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Semilla</th>
      <th>Recomendaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @farmings.each do |farming| %>
      <tr>
        <td><%= farming.user %></td>
        <td><%= farming.semilla %></td>
        <td><%= farming.recomendaciones %></td>
        <td><%= link_to 'Show', farming %></td>
        <td><%= link_to 'Edit', edit_farming_path(farming) %></td>
        <td><%= link_to 'Destroy', farming, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Farming', new_farming_path %>
