<%= form_with(model: farming_student, local: true) do |form| %>
  <% if farming_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farming_student.errors.count, "error") %> prohibited this farming_student from being saved:</h2>

      <ul>
      <% farming_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :farming_student_user_id %>
  </div>

  <div class="field">
    <%= form.label :farming_id %>
    <%= form.text_field :farming_id, id: :farming_student_farming_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
