<p id="notice"><%= notice %></p>
<html>



  <h1>Farming Students UNAC</h1>

  <table>
    <thead>
      <tr>
        <th>  User</th>
        <th>Farming</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @farming_students.each do |farming_student| %>
       <tr>
          <td><%= farming_student.user %></td>
          <td><%= farming_student.farming %></td>
          <td><%= link_to 'Show', farming_student %></td>
          <td><%= link_to 'Edit', edit_farming_student_path(farming_student) %></td>
          <td><%= link_to 'Destroy', farming_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Farming Student', new_farming_student_path %>

</html>