<!DOCTYPE html>
<html>
  <head>
    <title>Controlcultivo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>

  <body>
    <% if user_signed_in? %>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/panel/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/panel/css/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/panel/css/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/panel/css/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/panel/css/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/panel/css/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/panel/css/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/panel/css/bootstrap3-wysihtml5.min.css">
     <link rel="stylesheet" href="/panel/css/_all.css">
     <link rel="stylesheet" href="/panel/css/green.css">
     <link rel="stylesheet" href="/panel/css/red.css">
      <link href="/panel/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

      <%= render 'layouts/menupanel' %>

  <!-- jQuery UI 1.11.4 -->
  
  <script src="/panel/js/bootstrap.js"></script>
  <!-- Morris.js charts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="/panel/js/morris.min.js"></script>
  <!-- Sparkline -->
  <script src="/panel/js/jquery.sparkline.min.js"></script>
  <!-- jvectormap -->
  <script src="/panel/js/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="/panel/js/jquery-jvectormap-world-mill-en.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="/panel/js/jquery.knob.js"></script>
  <!-- daterangepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
  <script src="/panel/js/daterangepicker.js"></script>
  <!-- datepicker -->
  <script src="/panel/js/bootstrap-datepicker.js"></script>
  <!-- Bootstrap WYSIHTML5 -->
  <script src="/panel/js/bootstrap3-wysihtml5.all.min.js"></script>
  <!-- Slimscroll -->
  <script src="/panel/js/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->
  <script src="/panel/js/fastclick.js"></script>
  <script src="/panel/js/jquery.dataTables.js" type="text/javascript"></script>
  <script src="/panel/js/dataTables.bootstrap.js" type="text/javascript"></script>
  <!-- AdminLTE App -->
  <script src="/panel/js/app.min.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="/panel/js/dashboard.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="/panel/js/demo.js"></script>



<%else%>
    <%= yield %>
  <%end%>

  </body>
</html>
